{% extends "base.html" %}
{% block banner %}<a href="{{url_for('show_user', username = logname)}}">{{ logname }}</a>{% endblock banner%}
{% block content %}
    <a href="{{url_for('show_post', postid = post['postid'])}}">{{ post['created'] }}</a>
    <a href="{{url_for('show_user', username = post['owner'])}}">{{ post['owner'] }}</a>
    <a href="{{url_for('show_user', username = post['owner'])}}"><img class = "usernamePhoto" src="{{url_for('get_file', filename = profile_picture['filename'])}}" alt="user photo"></a>
    {% if likes == 1 %}
        <div>{{ likes }} like</div>
    {% else %}
        <div>{{ likes }} likes</div>
    {% endif %}
    <img class = "postPhoto" src="{{url_for('get_file', filename = post['filename'])}}" alt="posted photo">
    {% for comment in comments %}
        <a href="{{url_for('show_user', username = comment['owner'])}}">{{ comment['owner'] }}</a>
        <div>{{ comment['text'] }}</div>
        {% if logname == comment['owner'] %}
            <form action="{{url_for('handle_comments', target = url_for('show_post', postid = post['postid']))}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="delete"/>
            <input type="hidden" name="commentid" value="{{comment['commentid']}}"/>
            <input type="submit" name="uncomment" value="delete"/>
            </form>
        {% endif %}
    {% endfor %}
    {% if liked == 1 %}
    <br>
        <form action="{{url_for('post_like_unlike', target = url_for('show_post', postid = post['postid']))}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="unlike"/>
            <input type="hidden" name="postid" value="{{post['postid']}}"/>
            <input type="submit" name="unlike" value="unlike"/>
        </form>
    {% else %}
    <form action="{{url_for('post_like_unlike', target = url_for('show_post', postid = post['postid']))}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="like"/>
        <input type="hidden" name="postid" value="{{post['postid']}}"/>
        <input type="submit" name="like" value="like"/>
      </form>
    
    {% endif %}

    <br>
    <form action="{{url_for('handle_comments', target = url_for('show_post', postid = post['postid']))}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="create"/>
        <input type="hidden" name="postid" value="{{post['postid']}}"/>
        <input type="text" name="text" required/>
        <input type="submit" name="comment" value="comment"/>
    </form>
    <br>

    {% if logname == post['owner']%}        
        <form action="{{url_for('handle_post', target = url_for('show_user', username = logname))}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="delete"/>
        <input type="hidden" name="postid" value="{{post['postid']}}"/>
        <input type="submit" name="delete" value="delete this post"/>
        </form>
    {% endif %}
{% endblock content %}